html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
}    
    
body {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #293651;
    background-color: rgb(245, 245, 245);
    }

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h3 {
    font-weight: 150;
}
  
p {
    font-size: 12pt;
}
  
#container {
      display: block;
      background-image: linear-gradient(to right bottom, #ffffff, #ffffff, #0fb668);
      padding: 0% 30%;
      margin: auto;
      height: 100vh;
      position: relative;
}

#container h2 {
    color: rgb(15, 182, 104);
    font-weight: 100;
}
  
  
button {
    padding: 10px 25px 10px 25px;
    background-color: rgb(15, 182, 104);
    color: whitesmoke;
    border: none;
    border-radius: 4px;
}

#container img {
    position: absolute;
    bottom: 0;
}
 
#hireme {
      background-color: white;
      padding: 0% 30%;
}

#hireme h2 {
    color: #293651;
}

progress {
      accent-color: rgb(15, 182, 104);
      width: 100%;
}

#projetos h2 {
    padding: 0% 10%;
}

.prj-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0% 10%;
}

h2 {
    color: #293651;
    font-size: 36px;
    margin-bottom: 0;
    margin-top: 3%;
}

#projetos hr {
    border: 2px dashed rgb(81, 214, 152);
    width: 200px;
    margin: 0% 10%;
}
.item {
      max-width: 400px;
      max-height: 300px;
      margin: 20px;
      font-size: 16px;
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 10px;
      padding: 20px 10px 10px 20px;
}

.item h3 {
    font-weight: bolder;
    margin: 6px 2px;
}
.item img {
    display: block;
    width: 64px;
    margin: 10px 10px 20px 10px;
    background-color: rgb(81, 214, 152);
    padding: 20px;
    border-radius: 25px 25px 1px 25px;
}

#container-contatos {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#contatos {
    background-image: linear-gradient(110deg, #216d4d 0%, #52ad80 100%);
    border-radius: 15px;
    width: 90%;
    max-width: 900px;
    height: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#contatos p {
    margin: 20px auto 0 40px;
} 

#contatos h3 {
    margin: 20px 0 0 40px;
}

#contatos hr {
    margin: 10px 0 0 40px;
}

#footer {
    width: 100%;
    height: 400px;
    background-color: rgb(245, 245, 245);
    margin: auto;
    align-items: center;
    text-align: center;
}
i {
    width: 40px;
    color: #216d4d;
    margin: 100px 20px 10px 10px
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: smaller;
}

li {
    display: inline;
    margin: 20px;
}

@media only screen and (max-width: 900px) {

    main {
        width: auto;
        margin: 0;

    }

    #container {
        display: block;
        margin-top: 140px;
        padding: 0 5% 0 0 ;
        /* height: 100vh; */
    }

    #container img {
        width: 50%;
    }

    #container h2, h1, h3{
        margin: 1% 5% 0 5%;
    }

    #container h2 {
        font-size: 16pt;
        margin-top: 5%;
    }

    #container h3 {
        font-size: 14pt;
        margin-bottom: 10px;
    }

    #container h1 {
        font-size: 18pt;
    }
    
    p {
        margin-left: 5%;
    }

    #container button {
        margin-left: 5%;
        padding: 5px;
    }

    .prj-container {
        padding: 10px;
    }

    #hireme {
        width: 95%;
        padding: 0 5% 0 0;
        margin: 0;
    }

    #hireme h2 {
        font-size: 20px;
        margin-left: 5%;
        margin-bottom: 20px;
    }

    #projetos {
        padding: 1%;
        
    }

    #projetos hr {
        margin: auto;
    }
    #projetos h2 {
        margin-left: 5%;
        font-size: 20px;
    }


    .item {
        /* width: 75%;
        height: 80%; */
        margin: 2%;
        font-size: 14px;
        padding: 10px 5px 5px 10px;
    }

    .item img {
        width: 32px;
        margin: 10px 1px 2px 1px;
    }
    #container-contatos {
        height: 200px;
    }

    #contatos {
        border-radius: 5px;
        width: 90%;
        max-width: 900px;
        height: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    
    #footer {
        position: absolute;
        height: 130px;
        font-size: 12pt;
    }

    #footer h2 {
        font-size: 14pt;
    }

    i {
        width: 40px;
        color: #216d4d;
        margin: 20px 20px 10px 10px
    }


  
    li {
        margin: 10px;
    }
}